@charset "utf-8";

/*
Base style
*/
body{
  font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #333;
}


.form-2{
  background-color:#1e293b;
  color: white;
  max-width: 400px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 10px;
}

.form-group{
margin: 10px;
display: flex;
flex-direction: column;
}

.email,.password{
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #334155;
  color: #94a3b8;
  box-sizing: border-box;
}

.sign-in{
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
  background-color: #3b82f6;
  color: white;
  cursor: pointer;
}



.sign-in:hover {
  background-color: #2563eb;
}

a{
  color: #3b82f6;
  text-decoration: none;
}

/* .form-1{
    background-color: #1e293b;
    color: white;
    max-width: 400px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
}

.form-table{
    width: 100%;
    border-spacing: 10px;

}

.form-table th,.form-table td{
    padding: 8px;
    text-align: left;
}

.email, .password{
    background-color: #334155;
    color:#94a3b8;
    text-align: left;
    border-radius: 6px;
    border: none;
    width: 100%;
    height: 40px;
    padding: 0 40px;
    box-sizing: border-box;
}

.sign-in{
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 6px;
    width: 100px;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

.sign-in:hover {
    background-color: #2563eb;
  }

  a {
    color: #3b82f6;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  } */